* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  rgb(215, 215, 214);
}

.wrapper {
    width: 420px;
    background: white;
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 32px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color: black;
    padding: 20px 60px 20px 50px;

}

.input-box img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box2 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color: black;
    padding: 20px 60px 20px 50px;

}

.input-box2 img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}







.wrapper .input-box3 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box3 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color: black;
    padding: 20px 60px 20px 50px;

}

.input-box3 img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box3 input::placeholder {
    color: rgb(94, 91, 91);
}

.input-box3 i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}











.input-box input::placeholder {
    color: rgb(94, 91, 91);
}

.input-box2 input::placeholder {
    color: rgb(94, 91, 91);
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box2 i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(46, 45, 45, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.wrapper .btn2 {
    width: 100%;
    height: 45px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(63, 63, 63, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 15px 0 25px;
}

.wrapper .Signup-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.Signup-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.Signup-link p a:hover {
    text-decoration: underline;
    color: gray;
}