body {
  font-family: Poppins;
}

.text-grey {
  color: lightgrey;
}

.bg-grey {
  background-color: lightgrey;
}

.bg-search {
  opacity: 50%;
  background-color: white;
}

.form-control:focus {
  box-shadow: none !important;
}
